h1 {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
 }

 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
 }

 h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
 }

  /* 16px = 1rem */
 p.fontsize1 {
   font-size: 48px;
 }

 p.fontsize2 {
    font-size: 3rem;
 }

 p.fontsize3 {
    font-size: 3vw;
 }